@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

nav ul {
    display: inline-block;
    padding-left: 5px;
    text-align: center;
}
nav li {
    display: inline;
    padding: 7px;
    margin-right: auto;
}
nav a {
    text-decoration: none;
    color: #777;
}
h1{
    text-align: center;
    font-family: "Abril Fatface";
}
body{
    background-color: #eee;
    font-family: "Source Sans Pro";
}
.newspaper-container{
    background-color: white;
    box-shadow: 4px 4px 10px #ddd;
    width: 700px;
    border-radius: 10px;
    margin:auto
}
main{
    padding: 10px;
    width: 680px;
}
main img{
    width: 680px;
}
main p{
    text-align: justify;
}
.date{
    padding: 4px;
}
h2, h4{
    font-family: "Roboto Slab";
}
div section{
    display: inline-block;
    text-align: justify;
    width: 300px;
    padding-left: 5%;
}
div section p{
    width: 300px;
}
h5 {
    color: red;
}

